[Desktop Entry]
Icon=text-html
Name=https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/landing-page
Type=Link
URL[$e]=https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/landing-page
